{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amount Calculation</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/homes.css' %}">
</head>
<style>

</style>
<body  style="background-color: rgb(5, 77, 61);">
    <form action=""name="bill">
        <div class="dueamount">
            <h1>Amount Calculation</h1>
                <label for="unit">Unit : </label>
                <input type="number" id="units" value="units"><br>
                <input type="button" value="submit" onclick="abc()">
              <h2>Your Electricity Amount is:</h2>
              <p id="acm">0</p>
              <h2 class="goback"><a href="{% url 'home' %}">>>>back</a> </h2>
        </div>
    </form>
    
    
    <script src="{% static 'css/due-calculation/calculation.js' %}"></script>
</body> 
</html>